<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>mondo</display-name>
	<servlet>
		<servlet-name>
ContinentServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.ContinentServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
ContinentServlet
</servlet-name>
		<url-pattern>
/continents
</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>
CountryServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.CountryServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
CountryServlet
</servlet-name>
		<url-pattern>
/countries
</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>
CityServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.CityServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
CityServlet
</servlet-name>
		<url-pattern>
/cities
</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>
DeleteCityServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.DeleteCityServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
DeleteCityServlet
</servlet-name>
		<url-pattern>
/deletecities
</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>
FormServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.FormServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
FormServlet
</servlet-name>
		<url-pattern>
/formsetup
</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>
InserimentoServlet
</servlet-name>
		<servlet-class>
it.objectmethod.world.servlets.InserimentoServlet
</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
InserimentoServlet
</servlet-name>
		<url-pattern>
/inserisci
</url-pattern>
	</servlet-mapping>
</web-app>